






<div id="banner">
	<div class="outline"></div>
	
	
	<div class="frame frame1">
		
		
		<!-- <img class="retina f1" src="../_common/images/300x250/f1.png" /> -->
		<img class="bg___ retina" src="../_common/images/<%= width %>x<%= height %>/bg___.jpg" />
		<img class="bg" src="../_common/images/<%= width %>x<%= height %>/bg.jpg" />
		<img class="retina t1 shadow" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/t1.png" />
		<img class="retina t2" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/t2.png" />
		<img class="retina t3" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/t3.png" />
		<img class="retina t4 shadow" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/t4.png" />
		<img class="retina" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/footer.png" />
		


	</div>

	
	
	
	
</div>