<% include ../_common/templates/mob2 %>
	<img class="retina logo" src="../_common/images/<%= width %>x<%= height %>/<%= lang %>/logo.png" />
	<img class="retina t5" src="../_common/images/<%= width %>x<%= height %>/<%= lang %>/<%= name %>/t5.png" />		
	</div>
</div>